.aside {
  display: grid;
  grid-template-rows: calc(100% - 140px) 140px;
  background-color: lightgray;
  overflow: visible;
}

.streamers-menu {
  list-style-type: none;
  padding: 0;
  overflow: auto;
}
.streamers-menu > li > a {
  display: grid;
  grid-template-columns: 38px 1fr 50px;
  line-height: 38px;
  font-size: 17px;
  font-family: cursive;
  text-decoration: none;
  color: black;
  padding: 14px 16px;
}
.streamers-menu > li:hover {
  background-color: silver;
  cursor: pointer;
}
.streamers-image {
  height: 38px;
  background: snow;
  border-radius: 50%;
}
.streamers-name {
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.streamers-name:hover {
  color: blue;
}
.streamers-stat {
  text-align: right;
}

.info {
  display: grid;
  text-align: center;
  font-family: cursive;
  justify-content: center;
  border-top: white solid 1px;
}
.info-wrapper {
  margin: 15px;
  background-color: silver;
}
.info-text::selection {
  color: white;
  background-color: orange;
}
.info-text {
  width: 100%;
  padding: 10px;
  font-size: 17px;
}
.social-link {
  cursor: pointer;
  text-decoration: none;
}
.social-link > img {
  height: 25px;
  margin: 5px;
}

.online-indicator {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

@media screen and (max-width: 1200px) {
  .info,
  .streamers-name,
  .streamers-stat {
    display: none;
  }
  .aside {
    grid-template-rows: 100%;
  }
}
