.header {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  background-color: mintcream;
  box-shadow: grey 0 0 4px;
}

.main-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-logo-icon {
  height: 38px;
  cursor: pointer;
}
.main-logo-text {
  padding-left: calc(38px * 0.4);
  font-size: calc(38px * 0.7);
  color: chocolate;
  font-family: cursive;
  font-weight: bold;
  letter-spacing: calc(38px * 0.1);
  cursor: pointer;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-field,
.search-button {
  height: 35px;
}
.search-field {
  width: max(30vw, 240px);
  border: 1px solid lightslategray;
  border-radius: 10px 0 0 10px;
}
.search-field:focus {
  border: blue 2px solid;
  outline: none;
}
.search-button {
  width: 35px;
  border-color: lightslategray;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.search-button > img {
  display: block;
  height: 25px;
  margin: auto;
}

.header-button,
.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.header-button {
  margin: 0 10px;
}
.header-button > img {
  display: block;
  height: 25px;
  margin: auto;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-button > img {
  display: block;
  height: 35px;
  margin: auto;
}
.profile-button:hover .profile-menu {
  display: block;
}
.profile-menu {
  display: none;
  position: absolute;
  right: 16px;
  list-style-type: none;
  padding: 0;
  width: 140px;
  box-shadow: grey 0 0 2px;
  border-radius: 5px;
}
.profile-menu > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: mintcream;
  line-height: 25px;
  font-size: 17px;
  padding: 5px 10px;
}
.profile-menu > li:not(:last-child) {
  border-bottom: 1px solid lightslategray;
}
.profile-menu > li:first-child {
  border-radius: 5px 5px 0 0;
}
.profile-menu > li:last-child {
  border-radius: 0 0 5px 5px;
}
.profile-menu > li > img {
  height: 17px;
  padding-right: 10px;
}
.profile-menu > li:hover {
  background: lightgray;
}
