.hover-image-switcher > img:nth-child(2) {
  position: absolute;
  clip-path: circle(0%);
  appearance: none;
}
.hover-image-switcher:hover > img:nth-child(1) {
  position: absolute;
  clip-path: circle(0%);
  appearance: none;
}
.hover-image-switcher:hover > img:nth-child(2) {
  position: initial;
  clip-path: unset;
  appearance: initial;
}
